
@{
	ViewBag.Title = "درباره ما";
}


@section Slider{
	@Html.Action("ImgHead")
	@Html.Action("Nav")
}
<div class="Content-call-mother">

	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Text-Header-Call">
				<h3>
					درباره ما
				</h3>
			</div>
		</div>
	</div>


	<div class="container Content-call">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Content-call-media">
			<p class="Content-call-media-text">
				در باره ما
			</p>
			<p class="Content-call-media-text-brand">
				با مدیریت 
			</p>
		</div>
	</div>
</div>