
@{
	ViewBag.Title = "تماس با ما";
}


@section Slider{
	@Html.Action("ImgHead")
	@Html.Action("Nav")
}
<div class="Content-call-mother">

	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Text-Header-Call">
				<h3>
					تماس با ما
				</h3>
			</div>
		</div>
	</div>


	<div class="container Content-call">


		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Content-call-media">
			<p class="Content-call-media-text">
				تماس با ما

			</p>
			<p class="Content-call-media-text">
				 تلفن تماس:  09121613896  -  09127668003 
			</p>
		</div>
	</div>

	<div role="tabpanel" class="tab-pane tab-Content-Row2-video" id="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.2962816344444!2d50.92949867078462!3d35.77082859876085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8d95c825a0f113%3A0xd107ff84d361d6f9!2z2KfZhdmE2KfaqSDYqNin2Log2LTZh9ixINin2YTYqNix2LIgKNiy2YXYp9mG2LLYp9iv2Ycp!5e0!3m2!1sfa!2s!4v1586453177050!5m2!1sfa!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
</div>