@model IEnumerable<DataLayer.Product>

<div class="Container-Content1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-Header-Content1">
				<h3>
					<span class="glyphicon glyphicon-home"></span> |
					باغ ویلا های ویژه 
				</h3>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="owl-carousel owl-theme">
				@foreach (var item in Model.ToList())
				{
				 @Html.Partial("_ProductSlider",item);
				}

			</div>
		</div>
	</div>
</div>